body {
    margin: 0px;
    font-family: 'Roboto', "Helvetica","Arial",sans-serif;
}
.bottom-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.page-content {
    padding: 0px 40px;
    min-height: 100%;
}
#aggregation-jobs {
    width: 100%;
}
.level:first-of-type {
    border-top: 1px solid #d5d5d5;
}
.level {
    border-bottom: 1px solid #d5d5d5;
}
.level-header {
    display: flex;
    padding: 5px;
    cursor: pointer;
}
.level-header span {
    vertical-align: middle;
    flex: 1;
    font-weight: 500;
}
.level-header i {
    vertical-align: middle;
}
.level-info {
    padding: 10px 20px;
}
.active-level {
    background: #2196f3;
    color: white;
}
.page-header {
    display: flex;
}
.page-header h3 {
    flex: 1;
}
.filter-jobs {
    align-self: center;
    cursor: pointer;
}
.job {
    cursor: pointer;
}
.Scheduled {
    color: #536cfe;
}
.Running {
    color: grey;
}
.Failed {
    color: #c70000;
}
.Finished {
    color: green
}
.levels-logs {
    text-align: left;
}
.logs {
    display: none;
}
.log:first-of-type {
    border-top: 1px solid #d5d5d5;
}
.log {
    border-bottom: 1px solid #d5d5d5;
}
.log-header {
    display: flex;
    cursor: pointer;
    padding: 5px;
}
.log-header span {
    flex: 1;
}
.log-info {
    padding: 5px;
}
.log-info p {
    max-width: 500px;
    word-break: break-all;
    white-space: normal;
}
.mdl-data-table tbody tr:hover {
    background-color: transparent;
}
.log-info {
    display: none;
}
.active-job-Running {
    background-color: grey!important;
    color: white!important;
}
.active-job-Running i {
    color: white!important;
}
.active-job-Scheduled {
    background-color: #536cfe!important;
    color: white!important;
}
.active-job-Scheduled i {
    color: white!important;
}
.active-job-Failed {
    background-color: #c70000!important;
    color: white!important;
}
.active-job-Failed i {
    color: white!important;
}
.active-job-Finished {
    background-color: green!important;
    color: white!important;
}
.active-job-Finished i {
    color: white!important;
}
.mdl-progress {
    display: inline-block;
}
.filter-side-holder {
    flex: 1;
    display: none;
    padding: 10px 30px 10px 60px;
    border-left: 1px solid #d5d5d5;
}
.table-section {
    position: relative;
    flex: 3;
    padding: 0px 30px 0px 0px
}
.created-time-selector {
    display: none;
}
.updated-time-selector {
    display: none;
}
.job td:last-child {
    position: relative;
}
.settings-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    text-align: left;
    right: 30px;
    z-index: 4;
    padding: 8px;
    display: none;
    top: 35px;
}
.dropdown-setting {
    padding: 5px;
    border-bottom: 1px solid #d5d5d5;
}
.dropdown-setting:last-child {
    border-bottom: 0px;
}
.dropdown-setting i {
    vertical-align: middle;
    padding: 5px;
}
.dropdown-setting {
    vertical-align: middle;
}
.dropdown-setting:hover {
    background: #ececec;
}
.job td:last-child i:first-child:hover + div {
    display: block;
}
.settings-dropdown:hover {
    display: block;
}
.settings-dropdown {
    color: #333!important;
}
.settings-dropdown i {
    color: #333!important;
}
.pages {
    text-align: right;
    padding: 10px;
}
.error-message {
    color: red;
    display: none;
}